
.vs/OnlineBanking/v16/.suo
OnlineBanking/obj/Debug/net5.0/Razor/Areas/Admin/Views/Account/Index.cshtml.g.cs
.vs/OnlineBanking/v16/.suo
.vs/OnlineBanking/v16/.suo
OnlineBanking/obj/Debug/net5.0/OnlineBanking.csproj.FileListAbsolute.txt
OnlineBanking/obj/Debug/net5.0/Razor/Areas/Admin/Views/Cards/Index.cshtml.g.cs
OnlineBanking/obj/Debug/net5.0/Razor/Areas/Admin/Views/CardTypes/Index.cshtml.g.cs
.vs/OnlineBanking/v16/.suo
OnlineBanking/obj/Debug/net5.0/ref/OnlineBanking.dll
OnlineBanking/obj/Debug/net5.0/OnlineBanking.Views.pdb
OnlineBanking/obj/Debug/net5.0/OnlineBanking.Views.dll
OnlineBanking/obj/Debug/net5.0/OnlineBanking.pdb
