@{
    ViewData["Title"] = "Login";
    Layout = "_LgLayout";
}

<!-- Login -->
<section class="w3l-contact py-5" id="contact">
    <div class="container py-4 mb-5">
        <div class="mx-auto" style="max-width:1000px">
            <div class="contact-form-sec pt-0 mt-md-5">
                <div class="title-heading-w3 text-center mx-auto mb-1 pb-sm-4" style="max-width:600px">
                    <a href=""><h3 class="title-style"><span>Online</span>Banking</h3></a>
                </div>
                <div class="row contact-block align-items-center">
                    <div class="col-md-9 contact-right mt-md-0 mt-4 pl-lg-4 m-auto">
                        <form asp-action="Login" method="post" class="signin-form">
                            <div class="input-grids">
                                <input type="text" name="AccountId" placeholder="Your Account ID"
                                       class="contact-input my-3" required />
                                <input type="password" name="password" placeholder="Your Password"
                                       class="contact-input my-3" required />
                            </div>
                            <span class="text-danger">@ViewBag.Error</span>
                            <button type="submit" class="btn btn-style w-50 mx-auto my-3" style="display: block;">Login</button>
                            <br />
                            <div class="mx-auto text-center">
                                <a asp-action="Register">Create account</a><br>
                                <a asp-action="ForgotPassword" class="d-block my-2">Forgot password?</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Login -->